:root {
    /* font sizes */
    --font-size-small: 0.875rem;
    --font-size-base: 1rem;
    --font-size-large: 1.25rem;
    --font-size-heading: 2rem;
    --font-size-logo: 1.75rem;

    /* spacing */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-hg: 64px;
    
    /* border radius */
    --border-radius-small: 4px;
    --border-radius-medium: 8px;
    --border-radius-large: 16px;
    
    /* Widths and heights*/
    --width-top-bar: 1200px;
    --height-top-bar: 60px;
    /* --width-max-page: 900px; */
    --width-modal: 400px;

    /* Cubic beziers */
    --cubic-1: cubic-bezier(.3,.63,.4,1);
    --cubic-whip-ease-out: cubic-bezier(.42,-0.53,.3,1.06);
    --cubic-whip: cubic-bezier(.51,-0.71,.83,.62);
    --cubic-swing-out: cubic-bezier(.6,-0.64,.5,1);
    --cubic-bounce-soft-out: cubic-bezier(.22,.74,.42,1.02);
    --cubic-hover-and-snap: cubic-bezier(.21,1.34,.8,.76);
    --cubic-ease-slow-in-normal-out: cubic-bezier(.82,0,.5,1);
    --cubic-ease-slow-in-slow-out: cubic-bezier(.75,0,.25,1);

    /* Z-indexes */
    --z-index-fullscreen: 10000700;
    --z-mobile-nav: 10000600;
    --z-notification: 10000500;
    --z-modal: 10000400;
    --z-filters: 10000300;
    --z-top-bar: 10000200;
    --z-hovering-corner-button: 10000100;
    /* Apache echart tooltip is at 10 000 000 */
    /* To hard to change it,
       cannot add spaces or markers between thousands in css */
    --z-app: 0;

    /* Media break off points */
    /* 
        - 1500px: table-date-format
        - 777px: table-notes, form, filter
        - 745px: top bar
        - 600px: table-type, modal full width
    */

    /* Always one color */
    --color-text-white: #e9ebf0;
    --color-text-white-hover: white;
    --color-text-white-light: #aaa;
    --color-text-black: #292929;
    --color-text-black-hover: black;

    /* - - - - - - - - - - - - - - - - */
    /* - - - - - LIGHT  MODE - - - - - */
    /* - - - - - - - - - - - - - - - - */

    /* Mode */
    color-scheme: light;

    /* General colors */
    --color-primary: #3f5a79;
    --color-primary-hover: #4a6788;
    --color-primary-active: #567597;

    --color-secondary: #e01854;
    --color-secondary-hover: #eb386e;
    --color-secondary-active: #f85384;

    --color-tertiary: #fad73e;
    --color-tertiary-active: #ffeb90;
    
    --color-quaternary: #1db14e;
    --color-quinary: #2196F3;
    --color-jokumikalie: #7e3fb9; 
    --color-senary: #153963;
    --color-septenary: #b3083b;
    --color-octonary: rgb(240, 205, 6);
    --color-nonary: #0c9b3c;
    --color-denary: #0068bd;
    --color-undecenary: #54198b;

    --color-positive: #0daf63;
    --color-positive-hover: #2bc77e;
    --color-negative: #df5151;
    --color-negative-hover: #ea6363;
    --color-warning: #c3b736;
    --color-warning-hover: #d1c648;

    /* Text */
    --color-text: var(--color-text-black);
    --color-text-bold: var(--color-text-black-hover);
    --color-text-light: #666666;
    --color-text-lighter: #969696;
    --color-text-hidden: #c4c4c4;
    --color-text-placeholder: #aaa;
    --color-text-inverted: #e9ebf0;
    --color-text-inverted-hover: #ffffff;
    --color-text-selection: var(--color-text-white-hover);

    --color-border: hsla(0, 0%, 0%, 0.15);
    --color-border-hover: hsla(0, 0%, 0%, 0.25);
    --color-border-light: hsla(0, 0%, 0%, 0.35);

    /* Backgrounds */
    --color-background: hsl(0, 0%, 93.5%);
    --color-background-backdrop: rgba(0, 0, 0, 0.3);
    --color-background-backdrop-mobile-menu: rgba(255, 255, 255, 0.3);
    --color-background-top-bar: var(--color-background);
    --color-background-mobile-nav: hsla(0, 0%, 0%, 0);
    --color-background-modal: hsl(0, 0%, 96%);
    --color-background-card: hsl(0, 0%, 96%);
    --color-background-card-section: hsl(0, 0%, 90%);
    --color-background-input: hsl(0, 0%, 100%);
    --color-background-input-light: hsl(0, 0%, 98%);
    --color-background-input-strong: hsl(0, 0%, 100%);
    --color-background-tr-active: hsl(0, 0%, 90%);
    --color-background-tr-hover: hsl(0, 0%, 85%);
    
    /* Button colors */
    --color-button-general: hsl(0, 0%, 100%);
    --color-button-general-hover: hsl(0, 0%, 100%);
    --color-button-general-active: hsl(0, 0%, 100%);

    --color-button-clean: hsla(0, 0%, 0%, 0);
    --color-button-clean-hover: hsla(0, 0%, 0%, 0.1);
    --color-button-clean-active: hsla(0, 0%, 0%, 0.0666);

    --color-button-nav: var(--color-text-light);
    --color-button-nav-hover: var(--color-text-bold);

    --color-button-delete-hover: rgb(212, 37, 37);
    --color-button-delete-active: rgb(182, 29, 29);

    --color-background-button-transparent: hsla(0, 0%, 100%, 0.66);
    --color-background-button-transparent-hover: hsla(0, 0%, 85%, 0.66);

    /* Shadows */
    --shadow-card: 0 4px 10px rgba(0, 0, 0, 0.1);
    --shadow-button-hover: 0 4px 8px rgba(0, 0, 0, 0.1);
    --shadow-button-active: 0 2px 4px rgba(0, 0, 0, 0.2);
    --shadow-floating-button: 0 4px 8px rgba(0, 0, 0, 0.3);
}

:root.dark-mode {
    /* - - - - - - - - - - - - - - - */
    /* - - - - - DARK MODE - - - - - */
    /* - - - - - - - - - - - - - - - */

    /* Mode */
    color-scheme: dark;

    /* General colors */
    --color-primary: #004fa9;
    --color-primary-hover: #0e5eb8;
    --color-primary-active: #1d6eca;

    --color-secondary: #e01854;
    --color-secondary-hover: #eb386e;
    --color-secondary-active: #f85384;

    --color-tertiary: #4bc04f;  
    --color-tertiary-active: #7bdb7e; 

    --color-quaternary: #ece038; 
    --color-quinary: #17c3cf;    
    --color-jokumikalie: #7e3fb9; 
    --color-senary: #1d3279;     
    --color-septenary: #b61967;  
    --color-octonary: #28964d;   
    --color-nonary: #b5c523;     
    --color-denary: #3cb4ae;     
    --color-undecenary: #5d3285; 

    --color-positive: #14a561;
    --color-positive-hover: #0bbe6b;
    --color-negative: #b94646;
    --color-negative-hover: #d34f4f;
    --color-warning: #c3b736;
    --color-warning-hover: #d1c648;
        
    /* Text */
    --color-text: var(--color-text-white);
    --color-text-bold: var(--color-text-white-hover);
    --color-text-light: var(--color-text-white-light);
    --color-text-lighter: #888;
    --color-text-hidden: #555;
    --color-text-placeholder: #666;
    --color-text-inverted: #292929;
    --color-text-inverted-hover: #000;
    --color-text-selection: auto;

    --color-border: hsla(0, 0%, 100%, 0.1);
    --color-border-hover: hsla(0, 0%, 100%, 0.2);
    --color-border-light: hsla(0, 0%, 100%, 0.3);
    
    /* Backgrounds */
    --color-background: #111;
    --color-background-backdrop: rgba(0, 0, 0, 0.5);
    --color-background-backdrop-mobile-menu: rgba(0, 0, 0, 0.5);
    --color-background-top-bar: #111;
    --color-background-mobile-nav: hsla(0, 0%, 0%, 0.3);
    --color-background-modal: #111;
    --color-background-card: #1d1d1d;
    --color-background-card-section: #151515;
    --color-background-input: #1f1f1f;
    --color-background-input-light: #1a1a1a;
    --color-background-input-strong: #292929;
    --color-background-tr-active: hsl(0, 0%, 11%);
    --color-background-tr-hover: hsl(0, 0%, 13%);

    /* Button colors */
    --color-button-general: #282828;
    --color-button-general-hover: #333;
    --color-button-general-active: #303030;

    --color-button-clean: hsla(0, 0%, 0%, 0);
    --color-button-clean-hover: hsla(0, 0%, 100%, 0.1);
    --color-button-clean-active: hsla(0, 0%, 100%, 0.075);

    --color-button-nav: var(--color-text-light);
    --color-button-nav-hover: var(--color-text);

    --color-button-delete-hover: rgb(187, 30, 30);
    --color-button-delete-active: rgb(145, 13, 13);

    --color-background-button-transparent: hsla(0, 0%, 0%, 0.66);
    --color-background-button-transparent-hover: hsla(0, 0%, 15%, 0.66);

    /* Shadows */
    /* --shadow-card: 0 4px 8px rgba(255, 0, 0, 0.5); */
    --shadow-card: none;
    /* --shadow-button-hover: 0 4px 8px rgba(0, 0, 0, 0.2); */
    --shadow-button-hover: none;
    /* --shadow-button-active: 0 2px 4px rgba(0, 0, 0, 0.5); */
    --shadow-button-active: none;
    --shadow-floating-button: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* - - - - PAGE SETUP - - - - */
html, body {
    margin: 0;
    font-family: 'Poppins';
    color: var(--color-text);
    background-color: var(--color-background) !important;
    overflow-x: hidden;
}
/* 
main {
    width: fit-content;
    margin-inline: auto;
} */

html.no-scroll {
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
}

#app {
    min-height: calc(100vh - var(--height-top-bar));
    display: flex;
    flex-direction: column;
    width: 90vw;
    /* max-width: var(--width-max-page); */
    margin-inline: 5vw;
    margin-top: var(--height-top-bar);
    z-index: var(--z-app);
}

footer {
    margin-top: auto;
}
footer a {
    color: var(--color-text-hidden);
    text-decoration: none;
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-text-selection);
}

/* Disable chrome click blue color */
* {
    -webkit-tap-highlight-color: transparent;
}

:focus-visible {
    outline: 2px solid var(--color-text);
}

/* - - - - GENERIC ELEMENTS - - - - */
p {
    text-align: justify;
    /* margin-inline: auto; */
    width: 100%;
    /* width: fit-content; */
    /* max-width: 60ch; */
}

h1, h2, h3, h4 {
    color: var(--color-text);
}

h2 {
    margin-top: var(--spacing-lg);
    margin-bottom: var(--spacing-md);
}

img {
    opacity: 0;
    transition: opacity .3s var(--cubic-ease-slow-in-slow-out);
}
img.loaded {
    opacity: 1;
}

/* Default button */
button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;

    border-width: 0;
    border-radius: var(--border-radius-small);
    margin: var(--spacing-md) 0;
    padding: var(--spacing-sm) var(--spacing-lg);
    
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: var(--font-size-base);
    font-weight: 600;
    color: var(--color-text);
    background-color: var(--color-button-general);

    transition: color 0.1s ease-out,
                background-color 0.1s ease-out,
                box-shadow 0.1s ease-out;
}
button:hover, .link-button:hover {
    color: var(--color-text-bold);
    background-color: var(--color-button-general-hover);
    box-shadow: var(--shadow-button-hover);
}
/* button:hover svg {
    fill: var(--color-text-bold)
} */
button:active, .link-button:active {
    background-color: var(--color-button-general-active);
    box-shadow: var(--shadow-button-active);
}
button:disabled {
    background-color: var(--color-button-general);
    cursor: not-allowed;
    opacity: 0.6;
} button:disabled:hover {
    box-shadow: 0 0 0 transparent;
    color: var(--color-text);
}

/* Button primary */
button.color-primary {
    background-color: var(--color-primary);
    color: var(--color-text-white);
} 
button.color-primary:hover {
    background-color: var(--color-primary-hover);
    color: var(--color-text-white-hover);
}
button.color-primary:hover svg {
    fill: var(--color-text-white-hover);
}
button.color-primary:active {
    background-color: var(--color-primary-active);
    color: var(--color-text-white-hover);
}
button.color-primary:hover:disabled {
    background-color: var(--color-primary);
    color: var(--color-text-white);
}

/* Button secondary */
button.color-secondary {
    background-color: var(--color-secondary);
} 
button.color-secondary:hover {
    background-color: var(--color-secondary-hover);
}
button.color-secondary:active {
    background-color: var(--color-secondary-active);
}

/* Button warning */
button.color-warning:hover {
    background-color: var(--color-button-delete-hover);
    color: var(--color-text-white-hover);
}
button.color-warning:hover svg {
    fill: var(--color-text-white-hover);
}
button.color-warning:active {
    background-color: var(--color-button-delete-active);
    color: var(--color-text-white-hover);
}

button.color-hidden-primary:hover {
    background-color: var(--color-primary-hover);
    color: var(--color-text-white-hover);
}
button.color-hidden-primary:hover svg {
    fill: var(--color-text-white-hover);
}
button.color-hidden-primary:active {
    background-color: var(--color-primary-active);
    color: var(--color-text-white-hover);
}

/* Button simple */
button.button-simple {
    box-shadow: 0 0 0 transparent;
    background-color: transparent;
    padding: 0;
}

/* Button transparent */
button.button-transparent {
    background-color: var(--color-background-button-transparent);
    /* Causes a bug that hides the swiper masks when a button in a slide has a backdrop-filter */
    /* could have a seperate object with just filter e.g. but to much hassle */
    /* backdrop-filter: blur(8px); */
    transition: background-color 0.1s ease-out,
                opacity 0.2s ease-out;
}
button.button-transparent:hover {
    background-color: var(--color-background-button-transparent-hover);
}

/* Inputs */
label {
    font-weight: 600;
    color: var(--color-text);
    padding-left: var(--spacing-sm);
}

input, textarea, select {
    cursor: text;

    background-color: var(--color-background-input);
    padding: 0px 8px;
    height: 35px;
    width: calc(100% - 19px);       /* 2 x 6px ja 2 lisää koska v-select?? */
    max-width: calc(100% - 19px);   /* 2 x 6px ja 2 lisää koska v-select?? */
    min-width: 82px;

    color: var(--color-text-light);
    font-size: var(--font-size-base);
    font-family: 'Poppins';

    border-width: 1px;
    border-style: solid;
    border-color: var(--color-border);
    border-radius: var(--border-radius-small);
    outline-width: 0;
    transition: border-color 0.1s ease-out,
                outline-width 0.1s ease-out;
}
input:hover, textarea:hover, select:hover {
    border-color: var(--color-border-hover);
}
input:focus, textarea:focus, select:focus {
    /* outline: solid var(--color-primary-hover) 2px; */
    border-color: var(--color-border-hover);
    outline: none !important;
    /* border-color: var(--color-border-light); */
    /* box-shadow: 0 0 8px var(--color-primary); */
}

textarea {
    padding-top: 5px;
    resize: vertical;
    height: 100px;
    font-family: 'Poppins';
    margin: 0;
    min-height: 3.5rem;
}

input[type="radio"] {
    width: fit-content;
}

::placeholder {
    color: var(--color-text-placeholder);
    opacity: 1;
}

/* hammering v-select to match my styling */
.vs__dropdown-toggle {
    background-color: var(--color-background-input);
    border-width: 1px;
    border-style: solid;
    border-radius: var(--border-radius-small);
    border-color: var(--color-border);
    transition: border-color 0.1s ease-out;
    color: var(--color-text-light);
    height: calc(35px + 2px);
    min-width: 222px;
    padding: 0;
}
.vs__dropdown-toggle:hover {
    border-color: var(--color-border-hover);
}
.vs--open .vs__dropdown-toggle { /* Vastaa inputtia */
    border-color: var(--color-border-hover);
    /* border-color: var(--color-border-light); */
    /* outline: solid var(--color-primary-hover) 2px; */
}
.v-select .vs__placeholder {  /* Doesn't work */
    color: var(--color-text-lighter)
}
.vs__selected {
    color: var(--color-text-light);
    white-space: nowrap;
    margin-top: 0;
    height: 100% !important;
    justify-content: center;
    align-items: center;
    display: flex;
}
.v-select input {
    border: 0px transparent solid !important;
    padding-left: 8;
}
.vs__dropdown-menu {
    color: var(--color-text-light);
    background-color: var(--color-background-input);
    border-width: 1px;
    border-style: solid;
    border-bottom-left-radius: var(--border-radius-small);
    border-bottom-right-radius: var(--border-radius-small);
    border-color: var(--color-border-hover);
}
.vs__actions {
    padding-right: 10px;
}
.vs__clear, .vs__open-indicator{
    fill: var(--color-text-lighter);
}
.vs__dropdown-option--highlight {
    background-color: var(--color-primary-hover);
    color: var(--color-text-white-hover);
}
.vs__search {
    color: var(--color-text-placeholder);
    margin: 0 !important;
}
.vs__search:focus {
    color: var(--color-text-placeholder);
}
.vs__selected-options {
    padding: 0;
}

/* no ui slider */
.noUi-target {
    border-radius: var(--border-radius-small) !important;
    border: 1px solid var(--color-border) !important;
    box-shadow: none !important;    
    background: transparent !important;
}
.noUi-value {
    font-size: var(--font-size-small) !important;
}
/* .noUi-base {
    cursor: pointer !important;
} */
.noUi-touch-area, .noUi-handle  {
    cursor: grab !important;
}
.noUi-touch-area:active, .noUi-handle:active {
    cursor: grabbing !important;
}
.noUi-handle {
    border: 1px solid var(--color-border) !important;
    background-color: var(--color-background-input-strong) !important;
    box-shadow: none !important;
    transition: border-color 0.1s ease-out;
}
.noUi-handle::before {
    background-color: var(--color-border-light) !important;
}
.noUi-handle::after {
    background-color: var(--color-border-light) !important;
}
.noUi-handle:hover {
    border: 1px solid var(--color-border-hover) !important;
}
.noUi-connect {
    background-color: var(--color-primary) !important;
    transition: background-color 0.1s ease-out;
} .noUi-connect:hover {
    background-color: var(--color-primary-hover) !important;
} .noUi-connect:active {
    background-color: var(--color-primary-active) !important;
    cursor: ew-resize !important;
}
.noUi-connects {
    background-color: var(--color-background-input-light) !important;
    border-radius: var(--border-radius-small) !important;
}
.noUi-tooltip {
    background-color: transparent !important;
    color: var(--color-text-light) !important;
    font-size: var(--font-size-small) !important;
    border: none !important;
    bottom: 100% !important;
}
.noUi-value {
    color: var(--color-text-lighter) !important;
}
.noUi-marker {
    background-color: var(--color-border-light) !important;
}
.noUi-marker-normal {
    background-color: var(--color-border-hover) !important;
}
/* Blocks clicking when not disabled */
.noUi-pips-horizontal {
    pointer-events: none;
}

/* - - - - CHART TOOLTIP - - - - */

.chart-tooltip {
    display: flex;
    flex-direction: column;
    margin-bottom: -4px;
    margin-top: -3px;
}
.chart-tooltip table {
    border-collapse: collapse;
    padding: 0;
}
.chart-tooltip table td {
    padding-inline: 0;
}
.chart-tooltip .header {
    color: var(--color-text);
    font-size: 16px; 
    font-weight: 700;
    margin-bottom: 4px;
    text-align: start;
}
.chart-tooltip .color-blob {
    width: 11px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;    /* Default to white */
}
.chart-tooltip .series-name {
    font-weight: 500;
    color: var(--color-text-light);
    padding-left: 0.5rem;
}
.chart-tooltip .label > div {
    display: flex; 
    align-items: center; 
    padding-right: 1rem;
}
.chart-tooltip .value {
    font-weight: 500;
    color: var(--color-text);
    text-align: end;
}

.chart-tooltip tr.disabled .series-name, .chart-tooltip .disabled .value {
    color: var(--color-text-hidden)
}
.chart-tooltip tr.disabled .color-blob {
    background-color: var(--color-text-hidden) !important;
}
.chart-tooltip .sum-row td > div {
    border-top: 2px solid var(--color-border);
    padding-top: 6px;
    margin-top: 6px;
    /* width: 100%; */
}


/* - - - - QUICK AND DIRTY CLASSES - - - - */
.center {
    margin-inline: auto;
    display: block;
    position: static;
}

.backdrop {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-background-backdrop);
    backdrop-filter: blur(8px);
    cursor: pointer;
    animation: fadeIn 0.2s ease-out;
}

.spacer-line {
    width: 100%;
    height: 2px;
    min-height: 2px;
    max-height: 2px;
    border-radius: 100px;
    background-color: var(--color-border-hover);
    margin: var(--spacing-md) 0;
}

.card-spacer {
    width: 85%;
    height: 8px;
    border-radius: 100px;
    background-color: var(--color-background);
    margin: var(--spacing-md) 0;
    margin-inline: auto;
    box-shadow: inset var(--shadow-card);
}

.sticky-corner-button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: var(--spacing-lg);
    z-index: var(--z-hovering-corner-button);
    aspect-ratio: 1;
    padding: 12px;
    border-radius: 50%;
    box-shadow: var(--shadow-floating-button)
}
.sticky-corner-button:hover, .sticky-corner-button:active {
    box-shadow: var(--shadow-floating-button)
}

.link-button {
    background-color: var(--color-button-general);
    color: var(--color-text);
    display: flex;
}

.flex {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-inline: auto;
}
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-md);
    align-items: center;
    justify-content: center;
}

.no-decoration {
    text-decoration: none;
    width: fit-content;
    height: fit-content;

    /* Button margins transferred here */
    margin: var(--spacing-md) 0;
}
.no-decoration:hover {
    text-decoration: underline;
}
.no-decoration button {
    margin: 0 !important;
}


.no-pointer-events {
    pointer-events: none;
}
.all-pointer-events {
    pointer-events: all;
}

.negative {
    color: var(--color-negative) !important;
}
.positive {
    color: var(--color-positive) !important;
}

.card {
    background-color: var(--color-background-card);
    border-radius: var(--border-radius-medium);
    box-shadow: var(--shadow-card);
    padding: var(--spacing-md);
    margin: calc(var(--spacing-md) + var(--spacing-xs)) 0;
}
.card h2 {
    margin-top: -2px;
    margin-bottom: var(--spacing-sm);
    margin-left: 5px;
    margin-right: 0;
}

.combined-buttons {
    display: flex;
    flex-direction: row;
    gap: 0;
}
.combined-buttons .left-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-inline: 0;
    margin: 0;
    width: 100%;
}
.combined-buttons .right-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-inline: 0;
    margin: 0;
    width: 100%;
}
.combined-buttons .middle-button {
    border-radius: 0;
    padding-inline: 0;
    margin: 0;
    width: 100%;
}

.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}

.text-light {
    color: var(--color-text-light);
}
.text-lighter {
    color: var(--color-text-lighter);
}
.text-hidden {
    color: var(--color-text-hidden);
}

.icon-align {
    display: inline-flex !important;
    flex-direction: row;
    align-items: center;
    /* gap: var(--spacing-xs); */
}

.icon-button {
    /* The default setup is higher priority so we have to use important on some */
    cursor: pointer !important;
    color: var(--color-text-light);
    transform: scale(1);
    margin-inline: var(--spacing-sm);
    transition: transform 0.1s var(--cubic-bounce-soft-out),
                color 0.1s var(--cubic-bounce-soft-out) !important;
}
.icon-button:hover {
    color: var(--color-text);
    /* transform: scale(1.15); */
}

.loading {
    /* pointer-events: none !important; */
    cursor: wait !important;
    opacity: 0.5;
}

.chart {
    height: 100%;
    width: 100%;
    position: relative;
}

.tag {
    padding: 4px 10px;
    background-color: var(--color-background-card-section);
    border-radius: var(--border-radius-small);
    width: fit-content;
    font-weight: 600;
    font-size: var(--font-size-small);
    white-space: nowrap;
    /* border: 1px solid var(--color-border); */
}
.tag.tag-positive {
    background-color: var(--color-positive) !important;
}
.tag.tag-primary {
    background-color: var(--color-primary) !important;
}
.tag.tag-secondary {
    background-color: var(--color-secondary) !important;
}
.tag.tag-general {
    background-color: var(--color-button-general) !important;
}


.fullscreen {
    max-height: none !important;
    max-width: none !important;
    height: auto !important;
    width: auto !important;
    aspect-ratio: initial !important;
    position: fixed !important;
    margin: 0;
    border-radius: 0;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: var(--z-index-fullscreen);
}

.loading-placeholder {
    background: linear-gradient(
        90deg,
        var(--color-background-tr-active) 20%,
        var(--color-background-tr-hover) 50%,
        var(--color-background-tr-active) 80%
    );
    background-size: 200% 100%;
    animation: highlight-wave 2s infinite linear;
    box-shadow: none !important;
}
@keyframes highlight-wave {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.content-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-text-light);
    font-weight: 500;
    user-select: none;
}

/* 
LINE CLAMP SETUP

display: -webkit-box;
line-clamp: 1;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
overflow: hidden;
         */

/* - - - - CONTENT WIDTH LIMITORS - - - - */
.content-width-extra-small {
    margin-inline: auto;
    max-width: 60ch;
}

.content-width-small {
    margin-inline: auto;
    max-width: 80ch;
}

.content-width-medium {
    margin-inline: auto;
    max-width: 100ch;
}

.content-width-medium-unrestricted {
    margin-inline: auto;
    max-width: 100%;
    min-width: min(100ch, 100%);
    width: fit-content;
}


.content-width-large {
    margin-inline: auto;
    max-width: 140ch;
}



/* - - - - ANIMATIONS - - - - */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}