:root {
    /* font sizes */
    --font-size-small: 0.875rem;
    --font-size-base: 1rem;
    --font-size-large: 1.25rem;
    --font-size-heading: 2rem;
    --font-size-logo: 1.75rem;

    /* spacing */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-hg: 64px;
    
    /* border radius */
    --border-radius-small: 4px;
    --border-radius-medium: 8px;
    --border-radius-large: 16px;
    
    /* Widths and heights*/
    --width-top-bar: 1200px;
    --height-top-bar: 60px;
    --width-max-page: 900px;
    --width-modal: 400px;

    /* Z-indexes */
    --z-mobile-nav: 400;
    --z-notification: 350;
    --z-modal: 300;
    --z-filters: 250;
    --z-top-bar: 200;
    --z-app: 100;
    --z-spendings-entry-after: 90;
    --z-background-colors: 0;

    /* Media break off points */
    /* 
        - 1500px: table-date-format
        - 777px: table-notes, form, top bar, filter
        - 600px: table-type, modal full width
    */

    /* Always one color */
    --color-text-white: #e9ebf0;
    --color-text-white-hover: white;
    --color-text-black: #292929;
    --color-text-black-hover: black;

    /* - - - - - - - - - - - - - - - - */
    /* - - - - - LIGHT  MODE - - - - - */
    /* - - - - - - - - - - - - - - - - */

    /* Mode */
    color-scheme: light;

    /* General colors */
    --color-primary: #007BFF;
    --color-primary-hover: #007BFF;
    --color-primary-active: #007BFF;

    --color-secondary: #28A745;
    --color-secondary-hover: #4ece6c;
    --color-secondary-active: #35b854;

    --color-accent: #17A2B8;
    --color-accent-hover: #39c6db;
    --color-accent-active: #2cbbd1;
    
    --color-positive: green;
    --color-positive-hover: rgb(10, 150, 10);
    --color-negative: red;
    --color-negative-hover: rgb(255, 63, 63);

    /* Text */
    --color-text: #292929;
    --color-text-bold: #000000;
    --color-text-light: #666666;
    --color-text-lighter: #969696;
    --color-text-hidden: #c4c4c4;
    --color-text-placeholder: #aaa;
    --color-text-inverted: #e9ebf0;
    --color-text-inverted-hover: #ffffff;

    --color-border: hsla(0, 0%, 0%, 0.1);
    --color-border-hover: hsla(0, 0%, 0%, 0.2);
    --color-border-light: hsla(0, 0%, 0%, 0.3);

    /* Backgrounds */
    --color-background: hsl(0, 0%, 96%);
    --color-background-backdrop: rgba(0, 0, 0, 0.5);
    --color-background-top-bar: hsl(0, 0%, 96%);
    --color-background-mobile-nav: hsla(0, 0%, 0%, 0);
    --color-background-modal: hsl(0, 0%, 96%);
    --color-background-card: hsl(0, 0%, 100%);
    --color-background-input: hsl(0, 0%, 100%);
    --color-background-input-light: hsl(0, 0%, 98%);
    --color-background-input-strong: hsl(0, 0%, 100%);
    --color-background-tr-active: hsl(0, 0%, 92%);
    --color-background-tr-hover: hsl(0, 0%, 90%);
    
    /* Button colors */
    --color-button-general: hsl(0, 0%, 80%);
    --color-button-general-hover: hsl(0, 0%, 88%);
    --color-button-general-active: hsl(0, 0%, 84%);

    --color-button-clean: hsla(0, 0%, 0%, 0);
    --color-button-clean-hover: hsla(0, 0%, 0%, 0.1);
    --color-button-clean-active: hsla(0, 0%, 0%, 0.0666);

    --color-button-nav: var(--color-text-light);
    --color-button-nav-hover: var(--color-text-bold);

    --color-button-delete-hover: rgb(212, 37, 37);
    --color-button-delete-active: rgb(182, 29, 29);

    /* Shadows */
    --shadow-card: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dark-mode {
    /* - - - - - - - - - - - - - - - */
    /* - - - - - DARK MODE - - - - - */
    /* - - - - - - - - - - - - - - - */

    /* Mode */
    color-scheme: dark;

    /* General colors */
    --color-primary: #155fb4;
    --color-primary-hover: #2479db;
    --color-primary-active: #186ccc;

    --color-secondary: #eb882c;
    --color-secondary-hover: #ffa754;
    --color-secondary-active: #f59943;

    --color-accent: #00ffdd;
    --color-accent-hover: #c5fff7;
    --color-accent-active: #75ffed;

    --color-positive: rgb(20, 165, 97);
    --color-positive-hover: rgb(11, 190, 107);
    --color-negative: rgb(185, 70, 70);
    --color-negative-hover: rgb(211, 79, 79);
    
    /* Text */
    --color-text: #e9ebf0;
    --color-text-bold: #fff;
    --color-text-light: #aaa;
    --color-text-lighter: #888;
    --color-text-hidden: #555;
    --color-text-placeholder: #666;
    --color-text-inverted: #292929;
    --color-text-inverted-hover: #000;

    --color-border: hsla(0, 0%, 100%, 0.1);
    --color-border-hover: hsla(0, 0%, 100%, 0.2);
    --color-border-light: hsla(0, 0%, 100%, 0.3);
    
    /* Backgrounds */
    --color-background: #111;
    --color-background-backdrop: rgba(0, 0, 0, 0.5);
    --color-background-top-bar: #111;
    --color-background-mobile-nav: hsla(0, 0%, 0%, 0.3);
    --color-background-modal: #111;
    --color-background-card: #1d1d1d;
    --color-background-input: #1f1f1f;
    --color-background-input-light: #1a1a1a;
    --color-background-input-strong: #252525;
    --color-background-tr-active: hsl(0, 0%, 11%);
    --color-background-tr-hover: hsl(0, 0%, 13%);

    /* Button colors */
    --color-button-general: #282828;
    --color-button-general-hover: #333;
    --color-button-general-active: #303030;

    --color-button-clean: hsla(0, 0%, 0%, 0);
    --color-button-clean-hover: hsla(0, 0%, 100%, 0.1);
    --color-button-clean-active: hsla(0, 0%, 100%, 0.075);

    --color-button-nav: var(--color-text-light);
    --color-button-nav-hover: var(--color-text);

    --color-button-delete-hover: rgb(187, 30, 30);
    --color-button-delete-active: rgb(145, 13, 13);

    /* Shadows */
    --shadow-card: 0 4px 8px rgba(0, 0, 0, 0.5);
    --shadow-button-hover: 0 4px 8px rgba(0, 0, 0, 0.1);
    --shadow-button-active: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* - - - - PAGE SETUP - - - - */
html, body {
    margin: 0;
    font-family: 'Poppins';
    color: var(--color-text);
    background-color: var(--color-background) !important;
    overflow-x: hidden;
}

html.no-scroll {
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
}

#app {
    min-height: calc(100vh - var(--height-top-bar));
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--width-max-page);
    margin-inline: 5vw;
    margin-top: var(--height-top-bar);
    z-index: var(--z-app);
}

footer {
    color: var(--color-text-hidden);
    margin-top: auto;
}

/* - - - - GENERIC ELEMENTS - - - - */
p {
    text-align: justify;
    margin-inline: auto;
    width: fit-content;
    max-width: 60ch;
}

h1, h2, h3, h4 {
    color: var(--color-text);
}

img {
    max-width: 100%;
}

/* Default button */
button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;

    border-width: 0;
    border-radius: var(--border-radius-small);
    margin: var(--spacing-xs);
    margin-inline: var(--spacing-sm);
    padding: var(--spacing-sm);
    padding-inline: var(--spacing-lg);
    
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: var(--font-size-base);
    font-weight: 600;
    color: var(--color-text);
    background-color: var(--color-button-general);

    transition: color 0.1s,
                background-color 0.1s,
                box-shadow 0.1s;
}
button:hover {
    color: var(--color-text-bold);
    background-color: var(--color-button-general-hover);
    box-shadow: var(--shadow-button-hover);
}
button:active {
    background-color: var(--color-button-general-active);
    box-shadow: var(--shadow-button-active);
}
button:disabled {
    background-color: var(--color-button-general);
    cursor: not-allowed;
    opacity: 0.6;
} button:disabled:hover {
    box-shadow: 0 0 0 transparent;
}

/* Button primary */
button.color-primary {
    background-color: var(--color-primary);
    color: var(--color-text-white);
} 
button.color-primary:hover {
    background-color: var(--color-primary-hover);
    color: var(--color-text-white-hover);
}
button.color-primary:active {
    background-color: var(--color-primary-active);
}

/* Button secondary */
button.color-secondary {
    background-color: var(--color-secondary);
} 
button.color-secondary:hover {
    background-color: var(--color-secondary-hover);
}
button.color-secondary:active {
    background-color: var(--color-secondary-active);
}

/* Button warning */
button.color-warning:hover {
    background-color: var(--color-button-delete-hover);
    color: var(--color-text-white-hover);
}
button.color-warning:active {
    background-color: var(--color-button-delete-active);
}

/* Button simple */
button.button-simple {
    box-shadow: 0 0 0 transparent;
    background-color: transparent;
    padding: 0;
}


/* Inputs */
label {
    font-weight: 600;
    color: var(--color-text);
    padding-left: var(--spacing-sm);
}

input, textarea{
    cursor: text;

    background-color: var(--color-background-input);
    padding: 5px;
    width: calc(100% - 14px);       /* 2 x 6px ja 2 lisää koska v-select?? */
    max-width: calc(100% - 14px);   /* 2 x 6px ja 2 lisää koska v-select?? */

    color: var(--color-text-light);
    font-size: var(--font-size-base);
    font-family: 'Poppins';

    border-width: 1px;
    border-style: solid;
    border-color: var(--color-border);
    border-radius: var(--border-radius-small);
    transition: border-color 0.1s ease-out;
}
input:hover, textarea:hover {
    border-color: var(--color-border-hover);
}
input:focus {
    outline: none;
}

textarea {
    resize: vertical;
    height: 100px;
    font-family: 'Poppins';
}

input[type="radio"] {
    width: fit-content;
}

::placeholder {
    color: var(--color-text-placeholder);
    opacity: 1;
}

/* hammering v-select to match my styling */
.vs__dropdown-toggle {
    background-color: var(--color-background-input);
    border-width: 1px;
    border-style: solid;
    border-radius: var(--border-radius-small);
    border-color: var(--color-border);
    transition: border-color 0.1s ease-out;
    color: var(--color-text-light);
    height: 37px;
    min-width: 222px;
}
.vs__dropdown-toggle:hover {
    border-color: var(--color-border-hover);
}
.v-select .vs__placeholder {  /* Doesn't work */
    color: var(--color-text-lighter)
}
.vs__selected {
    color: var(--color-text-light);
    white-space: nowrap;
}
.v-select input {
    border: 0px transparent solid !important;
}
.vs__dropdown-menu {
    color: var(--color-text-light);
    background-color: var(--color-background-input);
    border-width: 1px;
    border-style: solid;
    border-bottom-left-radius: var(--border-radius-small);
    border-bottom-right-radius: var(--border-radius-small);
    border-color: var(--color-border);
}
.vs__actions {
    padding-right: 10px;
}
.vs__clear, .vs__open-indicator{
    fill: var(--color-text-lighter);
}
.vs__dropdown-option--highlight {
    background-color: var(--color-primary-hover);
    color: var(--color-text-white-hover);
}
.vs__search {
    color: var(--color-text-placeholder);
}
.vs__search:focus {
    color: var(--color-text-placeholder);
}

/* no ui slider */
.noUi-target {
    border-radius: var(--border-radius-small) !important;
    border: 1px solid var(--color-border) !important;
    box-shadow: none !important;    
    background: transparent !important;
}
.noUi-value {
    font-size: var(--font-size-small) !important;
}
/* .noUi-base {
    cursor: pointer !important;
} */
.noUi-touch-area, .noUi-handle  {
    cursor: grab !important;
}
.noUi-touch-area:active, .noUi-handle:active {
    cursor: grabbing !important;
}
.noUi-handle {
    border: 1px solid var(--color-border) !important;
    background-color: var(--color-background-input-strong) !important;
    box-shadow: none !important;
    transition: border-color 0.1s ease-out;
}
.noUi-handle::before {
    background-color: var(--color-border-light) !important;
}
.noUi-handle::after {
    background-color: var(--color-border-light) !important;
}
.noUi-handle:hover {
    border: 1px solid var(--color-border-hover) !important;
}
.noUi-connect {
    background-color: var(--color-primary) !important;
    transition: background-color 0.1s ease-out;
} .noUi-connect:hover {
    background-color: var(--color-primary-hover) !important;
} .noUi-connect:active {
    background-color: var(--color-primary-active) !important;
    cursor: ew-resize !important;
}
.noUi-connects {
    background-color: var(--color-background-input-light) !important;
    border-radius: var(--border-radius-small) !important;
}
.noUi-tooltip {
    background-color: transparent !important;
    color: var(--color-text-light) !important;
    font-size: var(--font-size-small) !important;
    border: none !important;
    bottom: 100% !important;
}
.noUi-value {
    color: var(--color-text-lighter) !important;
}
.noUi-marker {
    background-color: var(--color-border-light) !important;
}
.noUi-marker-normal {
    background-color: var(--color-border-hover) !important;
}
/* Blocks clicking when not disabled */
.noUi-pips-horizontal {
    pointer-events: none;
}

/* - - - - QUICK AND DIRTY CLASSES - - - - */
.center {
    margin-inline: auto;
    display: block;
    position: static;
}

.backdrop {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-background-backdrop);
    backdrop-filter: blur(8px);
    cursor: pointer;
    animation: fadeIn 0.2s ease-out;
}

.spacer-line {
    width: 100%;
    height: 2px;
    min-height: 2px;
    max-height: 2px;
    border-radius: 100px;
    background-color: var(--color-border-hover);
    margin: var(--spacing-md) 0;
}


/* - - - - ANIMATIONS - - - - */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}