:root {
    /* font sizes */
    --font-size-small: 0.875rem;
    --font-size-base: 1rem;
    --font-size-large: 1.25rem;
    --font-size-heading: 2rem;
    --font-size-logo: 1.75rem;

    /* spacing */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-hg: 64px;
    
    /* border radius */
    --border-radius-small: 4px;
    --border-radius-medium: 8px;
    --border-radius-large: 16px;
    
    /* Widths and heights*/
    --width-top-bar: 1200px;
    --height-top-bar: 60px;
    /* --width-max-page: 900px; */
    --width-modal: 400px;

    /* Z-indexes */
    --z-index-fullscreen: 10000002;
    --z-mobile-nav: 10000001;
    /* Apache echart tooltip is at 10 000 000 */
    --z-notification: 350;
    --z-modal: 300;
    --z-filters: 250;
    --z-top-bar: 200;
    --z-app: 100;
    --z-spendings-entry-after: 90;
    --z-hovering-button: 10;
    --z-background-colors: 0;

    /* Media break off points */
    /* 
        - 1500px: table-date-format
        - 777px: table-notes, form, filter
        - 745px: top bar
        - 600px: table-type, modal full width
    */

    /* Always one color */
    --color-text-white: #e9ebf0;
    --color-text-white-hover: white;
    --color-text-black: #292929;
    --color-text-black-hover: black;

    /* - - - - - - - - - - - - - - - - */
    /* - - - - - LIGHT  MODE - - - - - */
    /* - - - - - - - - - - - - - - - - */

    /* Mode */
    color-scheme: light;

    /* General colors */
    --color-primary: #3f5a79;
    --color-primary-hover: #4a6788;
    --color-primary-active: #567597;

    --color-secondary: #e01854;
    --color-secondary-hover: #eb386e;
    --color-secondary-active: #f85384;

    --color-tertiary: #FFB74D;  /* Soft orange */
    --color-quaternary: #4CAF50; /* Vibrant green */
    --color-quinary: #2196F3;    /* Bright blue */
    --color-senary: #9C27B0;     /* Bold purple */
    --color-septenary: #FF5722;  /* Rich red-orange */
    --color-octonary: #00BCD4;   /* Refreshing cyan */
    --color-nonary: #8BC34A;     /* Fresh lime green */
    --color-denary: #FFC107;     /* Warm yellow */
    --color-undecenary: #3F51B5; /* Strong indigo */

    --color-positive: #11c772;
    --color-positive-hover: #29d685;
    --color-negative: #df5151;
    --color-negative-hover: #ea6363;
    --color-warning: #c3b736;
    --color-warning-hover: #d1c648;

    /* Text */
    --color-text: #292929;
    --color-text-bold: #000000;
    --color-text-light: #666666;
    --color-text-lighter: #969696;
    --color-text-hidden: #c4c4c4;
    --color-text-placeholder: #aaa;
    --color-text-inverted: #e9ebf0;
    --color-text-inverted-hover: #ffffff;
    --color-text-selection: var(--color-text-white-hover);

    --color-border: hsla(0, 0%, 0%, 0.15);
    --color-border-hover: hsla(0, 0%, 0%, 0.25);
    --color-border-light: hsla(0, 0%, 0%, 0.35);

    /* Backgrounds */
    --color-background: hsl(0, 0%, 96%);
    --color-background-backdrop: rgba(0, 0, 0, 0.3);
    --color-background-backdrop-mobile-menu: rgba(255, 255, 255, 0.3);
    --color-background-top-bar: hsl(0, 0%, 96%);
    --color-background-mobile-nav: hsla(0, 0%, 0%, 0);
    --color-background-modal: hsl(0, 0%, 96%);
    --color-background-card: hsl(0, 0%, 100%);
    --color-background-card-section: hsl(0, 0%, 90%);
    --color-background-input: hsl(0, 0%, 100%);
    --color-background-input-light: hsl(0, 0%, 98%);
    --color-background-input-strong: hsl(0, 0%, 100%);
    --color-background-tr-active: hsl(0, 0%, 90%);
    --color-background-tr-hover: hsl(0, 0%, 85%);
    
    /* Button colors */
    --color-button-general: hsl(0, 0%, 90%);
    --color-button-general-hover: hsl(0, 0%, 94%);
    --color-button-general-active: hsl(0, 0%, 92%);

    --color-button-clean: hsla(0, 0%, 0%, 0);
    --color-button-clean-hover: hsla(0, 0%, 0%, 0.1);
    --color-button-clean-active: hsla(0, 0%, 0%, 0.0666);

    --color-button-nav: var(--color-text-light);
    --color-button-nav-hover: var(--color-text-bold);

    --color-button-delete-hover: rgb(212, 37, 37);
    --color-button-delete-active: rgb(182, 29, 29);

    /* Shadows */
    --shadow-card: 0 4px 8px rgba(0, 0, 0, 0.1);
    --shadow-button-hover: 0 4px 8px rgba(0, 0, 0, 0.1);
    --shadow-button-active: 0 2px 4px rgba(0, 0, 0, 0.2);
    --shadow-floating-button: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dark-mode {
    /* - - - - - - - - - - - - - - - */
    /* - - - - - DARK MODE - - - - - */
    /* - - - - - - - - - - - - - - - */

    /* Mode */
    color-scheme: dark;

    /* General colors */
    --color-primary: #004fa9;
    --color-primary-hover: #0e5eb8;
    --color-primary-active: #1d6eca;

    --color-secondary: #e01854;
    --color-secondary-hover: #eb386e;
    --color-secondary-active: #f85384;

    --color-tertiary: #FFB74D;  /* Soft orange */
    --color-quaternary: #4CAF50; /* Vibrant green */
    --color-quinary: #2196F3;    /* Bright blue */
    --color-senary: #9C27B0;     /* Bold purple */
    --color-septenary: #FF5722;  /* Rich red-orange */
    --color-octonary: #00BCD4;   /* Refreshing cyan */
    --color-nonary: #8BC34A;     /* Fresh lime green */
    --color-denary: #FFC107;     /* Warm yellow */
    --color-undecenary: #3F51B5; /* Strong indigo */

    --color-positive: #14a561;
    --color-positive-hover: #0bbe6b;
    --color-negative: #b94646;
    --color-negative-hover: #d34f4f;
    --color-warning: #c3b736;
    --color-warning-hover: #d1c648;
        
    /* Text */
    --color-text: #e9ebf0;
    --color-text-bold: #fff;
    --color-text-light: #aaa;
    --color-text-lighter: #888;
    --color-text-hidden: #555;
    --color-text-placeholder: #666;
    --color-text-inverted: #292929;
    --color-text-inverted-hover: #000;
    --color-text-selection: auto;

    --color-border: hsla(0, 0%, 100%, 0.1);
    --color-border-hover: hsla(0, 0%, 100%, 0.2);
    --color-border-light: hsla(0, 0%, 100%, 0.3);
    
    /* Backgrounds */
    --color-background: #111;
    --color-background-backdrop: rgba(0, 0, 0, 0.5);
    --color-background-backdrop-mobile-menu: rgba(0, 0, 0, 0.5);
    --color-background-top-bar: #111;
    --color-background-mobile-nav: hsla(0, 0%, 0%, 0.3);
    --color-background-modal: #111;
    --color-background-card: #1d1d1d;
    --color-background-card-section: #151515;
    --color-background-input: #1f1f1f;
    --color-background-input-light: #1a1a1a;
    --color-background-input-strong: #292929;
    --color-background-tr-active: hsl(0, 0%, 11%);
    --color-background-tr-hover: hsl(0, 0%, 13%);

    /* Button colors */
    --color-button-general: #282828;
    --color-button-general-hover: #333;
    --color-button-general-active: #303030;

    --color-button-clean: hsla(0, 0%, 0%, 0);
    --color-button-clean-hover: hsla(0, 0%, 100%, 0.1);
    --color-button-clean-active: hsla(0, 0%, 100%, 0.075);

    --color-button-nav: var(--color-text-light);
    --color-button-nav-hover: var(--color-text);

    --color-button-delete-hover: rgb(187, 30, 30);
    --color-button-delete-active: rgb(145, 13, 13);

    /* Shadows */
    /* --shadow-card: 0 4px 8px rgba(0, 0, 0, 0.5); */
    --shadow-card: none;
    /* --shadow-button-hover: 0 4px 8px rgba(0, 0, 0, 0.2); */
    --shadow-button-hover: none;
    /* --shadow-button-active: 0 2px 4px rgba(0, 0, 0, 0.5); */
    --shadow-button-active: none;
    --shadow-floating-button: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* - - - - PAGE SETUP - - - - */
html, body {
    margin: 0;
    font-family: 'Poppins';
    color: var(--color-text);
    background-color: var(--color-background) !important;
    overflow-x: hidden;
}
/* 
main {
    width: fit-content;
    margin-inline: auto;
} */

html.no-scroll {
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
}

#app {
    min-height: calc(100vh - var(--height-top-bar));
    display: flex;
    flex-direction: column;
    width: 90vw;
    /* max-width: var(--width-max-page); */
    margin-inline: 5vw;
    margin-top: var(--height-top-bar);
    z-index: var(--z-app);
}

footer {
    color: var(--color-text-hidden);
    margin-top: auto;
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-text-selection);
}

/* - - - - GENERIC ELEMENTS - - - - */
p {
    text-align: justify;
    /* margin-inline: auto; */
    width: 100%;
    /* width: fit-content; */
    /* max-width: 60ch; */
}

h1, h2, h3, h4 {
    color: var(--color-text);
}

h2 {
    margin-top: var(--spacing-hg);
}

img {
    max-width: 100%;
}

/* Default button */
button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;

    border-width: 0;
    border-radius: var(--border-radius-small);
    margin: var(--spacing-xs);
    margin-inline: var(--spacing-sm);
    padding: var(--spacing-sm);
    padding-inline: var(--spacing-lg);
    
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: var(--font-size-base);
    font-weight: 600;
    color: var(--color-text);
    background-color: var(--color-button-general);

    transition: color 0.1s ease-out,
                background-color 0.1s ease-out,
                box-shadow 0.1s ease-out;
}
button:hover {
    color: var(--color-text-bold);
    background-color: var(--color-button-general-hover);
    box-shadow: var(--shadow-button-hover);
}
button:hover svg {
    fill: var(--color-text-bold)
}
button:active {
    background-color: var(--color-button-general-active);
    box-shadow: var(--shadow-button-active);
}
button:disabled {
    background-color: var(--color-button-general);
    cursor: not-allowed;
    opacity: 0.6;
} button:disabled:hover {
    box-shadow: 0 0 0 transparent;
} button:disabled:hover svg {
    fill: var(--color-text);
}

/* Button primary */
button.color-primary {
    background-color: var(--color-primary);
    color: var(--color-text-white);
} 
button.color-primary:hover {
    background-color: var(--color-primary-hover);
    color: var(--color-text-white-hover);
}
button.color-primary:hover svg {
    fill: var(--color-text-white-hover);
}
button.color-primary:active {
    background-color: var(--color-primary-active);
}

/* Button secondary */
button.color-secondary {
    background-color: var(--color-secondary);
} 
button.color-secondary:hover {
    background-color: var(--color-secondary-hover);
}
button.color-secondary:active {
    background-color: var(--color-secondary-active);
}

/* Button warning */
button.color-warning:hover {
    background-color: var(--color-button-delete-hover);
    color: var(--color-text-white-hover);
}
button.color-warning:hover svg {
    fill: var(--color-text-white-hover);
}
button.color-warning:active {
    background-color: var(--color-button-delete-active);
}

/* Button simple */
button.button-simple {
    box-shadow: 0 0 0 transparent;
    background-color: transparent;
    padding: 0;
}


/* Inputs */
label {
    font-weight: 600;
    color: var(--color-text);
    padding-left: var(--spacing-sm);
}

input, textarea, select {
    cursor: text;

    background-color: var(--color-background-input);
    padding: 0px 8px;
    height: 35px;
    width: calc(100% - 19px);       /* 2 x 6px ja 2 lis채채 koska v-select?? */
    max-width: calc(100% - 19px);   /* 2 x 6px ja 2 lis채채 koska v-select?? */

    color: var(--color-text-light);
    font-size: var(--font-size-base);
    font-family: 'Poppins';

    border-width: 1px;
    border-style: solid;
    border-color: var(--color-border);
    border-radius: var(--border-radius-small);
    outline-width: 0;
    transition: border-color 0.1s ease-out,
                outline-width 0.1s ease-out;
}
input:hover, textarea:hover, select:hover {
    border-color: var(--color-border-hover);
}
input:focus, textarea:focus, select:focus {
    /* outline: solid var(--color-primary-hover) 2px; */
    border-color: var(--color-border-hover);
    outline: none;
    /* border-color: var(--color-border-light); */
    /* box-shadow: 0 0 8px var(--color-primary); */
}

textarea {
    padding-top: 5px;
    resize: vertical;
    height: 100px;
    font-family: 'Poppins';
    margin: 0;
    min-height: 3.5rem;
}

input[type="radio"] {
    width: fit-content;
}

::placeholder {
    color: var(--color-text-placeholder);
    opacity: 1;
}

/* hammering v-select to match my styling */
.vs__dropdown-toggle {
    background-color: var(--color-background-input);
    border-width: 1px;
    border-style: solid;
    border-radius: var(--border-radius-small);
    border-color: var(--color-border);
    transition: border-color 0.1s ease-out;
    color: var(--color-text-light);
    height: calc(35px + 2px);
    min-width: 222px;
    padding: 0;
}
.vs__dropdown-toggle:hover {
    border-color: var(--color-border-hover);
}
.vs--open .vs__dropdown-toggle { /* Vastaa inputtia */
    border-color: var(--color-border-hover);
    /* border-color: var(--color-border-light); */
    /* outline: solid var(--color-primary-hover) 2px; */
}
.v-select .vs__placeholder {  /* Doesn't work */
    color: var(--color-text-lighter)
}
.vs__selected {
    color: var(--color-text-light);
    white-space: nowrap;
    margin-top: 0;
    height: 100% !important;
    justify-content: center;
    align-items: center;
    display: flex;
}
.v-select input {
    border: 0px transparent solid !important;
    padding-left: 8;
}
.vs__dropdown-menu {
    color: var(--color-text-light);
    background-color: var(--color-background-input);
    border-width: 1px;
    border-style: solid;
    border-bottom-left-radius: var(--border-radius-small);
    border-bottom-right-radius: var(--border-radius-small);
    border-color: var(--color-border-hover);
}
.vs__actions {
    padding-right: 10px;
}
.vs__clear, .vs__open-indicator{
    fill: var(--color-text-lighter);
}
.vs__dropdown-option--highlight {
    background-color: var(--color-primary-hover);
    color: var(--color-text-white-hover);
}
.vs__search {
    color: var(--color-text-placeholder);
    margin: 0 !important;
}
.vs__search:focus {
    color: var(--color-text-placeholder);
}
.vs__selected-options {
    padding: 0;
}

/* no ui slider */
.noUi-target {
    border-radius: var(--border-radius-small) !important;
    border: 1px solid var(--color-border) !important;
    box-shadow: none !important;    
    background: transparent !important;
}
.noUi-value {
    font-size: var(--font-size-small) !important;
}
/* .noUi-base {
    cursor: pointer !important;
} */
.noUi-touch-area, .noUi-handle  {
    cursor: grab !important;
}
.noUi-touch-area:active, .noUi-handle:active {
    cursor: grabbing !important;
}
.noUi-handle {
    border: 1px solid var(--color-border) !important;
    background-color: var(--color-background-input-strong) !important;
    box-shadow: none !important;
    transition: border-color 0.1s ease-out;
}
.noUi-handle::before {
    background-color: var(--color-border-light) !important;
}
.noUi-handle::after {
    background-color: var(--color-border-light) !important;
}
.noUi-handle:hover {
    border: 1px solid var(--color-border-hover) !important;
}
.noUi-connect {
    background-color: var(--color-primary) !important;
    transition: background-color 0.1s ease-out;
} .noUi-connect:hover {
    background-color: var(--color-primary-hover) !important;
} .noUi-connect:active {
    background-color: var(--color-primary-active) !important;
    cursor: ew-resize !important;
}
.noUi-connects {
    background-color: var(--color-background-input-light) !important;
    border-radius: var(--border-radius-small) !important;
}
.noUi-tooltip {
    background-color: transparent !important;
    color: var(--color-text-light) !important;
    font-size: var(--font-size-small) !important;
    border: none !important;
    bottom: 100% !important;
}
.noUi-value {
    color: var(--color-text-lighter) !important;
}
.noUi-marker {
    background-color: var(--color-border-light) !important;
}
.noUi-marker-normal {
    background-color: var(--color-border-hover) !important;
}
/* Blocks clicking when not disabled */
.noUi-pips-horizontal {
    pointer-events: none;
}

/* - - - - CHART TOOLTIP - - - - */

.chart-tooltip {
    display: flex;
    flex-direction: column;
    margin-bottom: -4px;
    margin-top: -3px;
}
.chart-tooltip table {
    border-collapse: collapse;
}
.chart-tooltip .header {
    color: var(--color-text);
    font-size: 16px; 
    font-weight: 700;
    margin-bottom: 4px;
}
.chart-tooltip .color-blob {
    width: 11px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;    /* Default to white */
}
.chart-tooltip .series-name {
    font-weight: 500;
    color: var(--color-text-light);
    padding-left: 0.5rem;
}
.chart-tooltip .value {
    font-weight: 500;
    color: var(--color-text);
    text-align: end;
}

.chart-tooltip .disabled .series-name, .chart-tooltip .disabled .value {
    color: var(--color-text-hidden)
}
.chart-tooltip .disabled .color-blob {
    background-color: var(--color-text-hidden) !important;
}



/* - - - - QUICK AND DIRTY CLASSES - - - - */
.center {
    margin-inline: auto;
    display: block;
    position: static;
}

.backdrop {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-background-backdrop);
    backdrop-filter: blur(8px);
    cursor: pointer;
    animation: fadeIn 0.2s ease-out;
}

.spacer-line {
    width: 100%;
    height: 2px;
    min-height: 2px;
    max-height: 2px;
    border-radius: 100px;
    background-color: var(--color-border-hover);
    margin: var(--spacing-md) 0;
}

.card-spacer {
    width: 85%;
    height: 8px;
    border-radius: 100px;
    background-color: var(--color-background);
    margin: var(--spacing-md) 0;
    margin-inline: auto;
    box-shadow: inset var(--shadow-card);
}

.sticky-corner-button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: var(--spacing-lg);
    z-index: var(--z-hovering-button);
    aspect-ratio: 1;
    padding: 10px;
    border-radius: 50%;
    box-shadow: var(--shadow-floating-button);
}

.flex-column {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-inline: auto;
}
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-md);
    align-items: center;
    justify-content: center;
}

.no-decoration {
    text-decoration: none;
}

.negative {
    color: var(--color-negative) !important;
}
.positive {
    color: var(--color-positive) !important;
}

.card {
    background-color: var(--color-background-card);
    border-radius: var(--border-radius-medium);
    box-shadow: var(--shadow-card);
    padding: var(--spacing-md);
    margin: calc(var(--spacing-md) + var(--spacing-xs)) 0;
}
.card h2 {
    margin-top: -2px;
    margin-bottom: var(--spacing-sm);
    margin-left: 5px;
    margin-right: 0;
}


/* - - - - CONTENT WIDTH LIMITORS - - - - */
.content-width-small {
    margin-inline: auto;
    max-width: 60ch;
}

.content-width-medium {
    margin-inline: auto;
    max-width: 100ch;
}

.content-width-large {
    margin-inline: auto;
    max-width: 140ch;
}


/* - - - - ANIMATIONS - - - - */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}